* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.retangulo {
    width: 400px;
    height: 200px;
    background-color:#b9f0e4;
    align-items: center;
    margin: 50px auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
}

.quadrado {
    width: 150px;
    height: 150px;
}

.verde {
    background-color: rgb(145, 224, 129);
}

.roxo {
    background-color: rgb(213, 129, 247);
}

.semaforo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 30px;
    gap: 28px;
    align-items: center;
    background-color: #363636;
    padding: 30px;
    height: 580px;
    width: 220px;
    padding-bottom: 45px;
    padding-right: 35px;
    border-radius: 25px;
    margin-bottom: 0;
}

.cabo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 30px;
    align-items: center;
    background-color: #363636;
    height: 550px;
    width: 60px;
}

.sinal {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.vermelho {
    background-color: rgb(255, 0, 0);
    box-shadow: 10px 2px 7px 7px rgba(180, 0, 0, 1);
}

.vermelho:hover {
    background-color: rgba(180, 0, 0, 1);
}

.amarelo {
    background-color: rgb(255, 230, 0);
    box-shadow: 10px 2px 7px 7px rgb(180, 132, 0);
}

.amarelo:hover {
    background-color: rgb(180, 132, 0);
}

.verde1 {
    background-color: rgb(12, 218, 12);
    box-shadow: 10px 2px 7px 7px rgb(11, 151, 23);
}

.verde1:hover {
    background-color: rgb(11, 151, 23);
}