* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #516e4f;
    color: #fbf8e9;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagem {
    width: 70px;
    height: 70px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: #fbf8e9;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #E1C1C6;
}