* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f6e9b1;
    color: 	#ff7755;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    font-size: 26px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: 	#ff7755;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.menu a:hover {
    color: 	#fb452b;
}